* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Arial, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

li {
    padding: 5px 0;
    margin-left: 1rem;
}


/* -------- Header -------- */
.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #4bc2da;
    transition: height .5s ease-out;
    z-index: 5;
  }

  .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    height: 200px;
  }
  
  .menu li {
    margin-top: .5em;
    width: 150px;
    text-align: center;
  }
  
  .menu a {
    display: block;
    padding: .5em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
  }

  .menu a:hover {
    background-color: #0a69ed;
    transition: 1s;
  }

  #toggle {
    display: none;
  }
  
  #toggle:checked ~ .menu {
    height: 200px;
  }

  label {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    font-size: 48px;
    color: #0a69ed;
    padding: 1rem;
    z-index: 5;
}
/* -------- Banner -------- */

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("images\\dog-training-banner.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
}

.banner div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.banner-text {
    z-index: 2;
    color: #fff;
    font-family: "Montserrat", Arial, sans-serif;
    margin: 1.5vh auto;

}

h1.banner-text {
    font-size: 3rem;
    text-align: center;
}

h2.banner-text {
    font-size: 2.5rem;
    text-align: center;
}

h4.banner-text {
    font-size: 2rem;
    margin-bottom: -1vh;
    text-align: center;
}

h5.banner-text {
    font-size: 1.5rem;
    text-align: center;
}

h6.banner-text {
    font-size: 1rem;
    text-align: center;
}

.banner-logo {
    position: absolute;
    width: 15vw;
    min-width: 15rem;
    height: min-content;
    border-radius: 50%;
    top: 2vh;
    left: 2vw;
}

.banner-profile-pic {
    width: 15vw;
    min-width: 15rem;
    height: min-content;
    border-radius: 50%;
    position: absolute;
    top: 2vh;
    right: 2vw;
}

#btn-container {
    width: 50%;
    height: 200px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    bottom: 5vh;
}

.btn {
    margin: 20px;
    min-width: 13rem;
}

.btn:link,
.btn:visited{
    display: block;
    text-decoration: none;
    font-weight: bold;
    text-transform:uppercase;
    padding:20px 40px;
    border-radius:100px;
    transition: all .5s;
    width: 13rem;
    text-align: center;
}
  
.btn-white{
    background:#fff;
    color:#000;
}
  
.btn:hover{
     box-shadow:0px 10px 10px rgba(0,0,0,0.2);
     transform : translateY(-3px);
}
  
.btn:active{
    box-shadow:0px 5px 10px rgba(0,0,0,0.2);
    transform:translateY(-1px);
}
  
.btn-bottom-animation-1{
    animation:comeFromBottom 1s ease-out .8s;
}
  
.btn::after{
    content:"";
    text-decoration: none;
    text-transform:uppercase;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius:100px;
    z-index:-1;
    transition: all .5s;
}
  
.btn-white::after {
      background: #fff;
}
  
.btn-animation-1:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
}
  
@keyframes comeFromBottom{
    0%{
      opacity:0;
      transform:translateY(40px);
    } 
    100%{
      opacity:1;
      transform:translateY(0);
    }
}

/* -------- Services -------- */

section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 5vh 15%;
    width: 100%;
    margin: 0 auto;
    font-size: 1.25rem;
}

section h2 {
    font-size: 2rem;
    padding: 0.5rem 0;
}

section p {
    padding: 0.5rem 0;
}

.behavioural-support {
    margin: 2rem 0;
}

section h3 {
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.services ul {
    margin: 1rem 0;
}

/* -------- About Me -------- */
section.about-me {
    background-color: #80D7E8;
    width: 100%;
}

.about-me div {
    /* margin: 0 auto; */
    justify-content: start;
    padding: 1rem 0;

}

.memberships {
    width: 100%;
    min-width: 600px;
}

.qualifications {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.qual-icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.qual-icons img {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 5px;
}

/* -------- Contact Info --------- */

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 20px;
    background-color: #80D7E8;
}

.contact-info img {
    max-width: 100%;
}

.contact-form {
    width: 50%;
}

/* -------- Testimonials -------- */

.happy-customers {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #ffffff;
    position: relative;
    width: 80vw;
    max-width: 41em;
    min-height: 25em;
    border-radius: 0.6em;
    box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
    display: flex;
    margin-top: 1rem;
}

.wrapper button {
    font-size: 1.8em;
    height: 2.2em;
    width: 2.2em;
    background-color: #ffffff;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    color: #0a69ed;
    box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
    cursor: pointer;
    border-radius: 50%;
}

.testimonial-container {
    width: 85%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: 1.8em 1.2em;
}

button#next {
    right: -1.1em;
}

button#prev {
    left: -1.1em;
}

.testimonial-container p {
    color: #000000;
    text-align: center;
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.05em;
}

.testimonial-container img {
    display: block;
    margin: 1.8em auto 1.25em auto;
    border-radius: 50%;
    width: 7em;
}

.testimonial-container h3 {
    color: #2d3d67;
    font-size: 1em;
    text-align: center;
}

.testimonial-container h6 {
    color: #bcc4da;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    font-weight: 400;
    text-align: center;
}

/* -------- Footer -------- */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

footer p {
    padding: 0.5rem;
}

/* -------- Breakpoints -------- */
@media screen and (max-width: 650px) {
    .banner-logo {
        display: none;
    }

    .banner-profile-pic {
        display: none;
    }

    html {
        font-size: 14px;
    }
    section {
        padding: 5vh 0;
    }

    .qualifications {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 700px) {
    .banner-logo {
        top: unset;
        bottom: 2vh;
    }
    
    .banner-profile-pic {
        top: unset;
        bottom: 2vh;
    }

    #btn-container {
        display: none;
    }
    .menu {
        display: block;
    }

    label {
        display: block;
    }

    .services {
        width: 85%;
    }

    .about-me div {
        width: 95%;
    }

    .qual-icons img {
        width: 75px;
        height: 75px;
    }

    .contact-info {
        width: 100%;
    }
}

@media only screen and (max-width: 880px) {
    h1.banner-text {
        font-size: 2.5rem;
    }
    
    h2.banner-text {
        font-size: 2rem;
    }
    
    h4.banner-text {
        font-size: 1.5rem;
    }
    
    h5.banner-text {
        font-size: 1rem;
    }
    
    h6.banner-text {
        font-size: 1rem;
    }

    .btn {
        margin: 10px;
        font-size: smaller;
        width: 7rem;
        text-align: center\;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
    section {
        width: 85%;
    }

    .about-me div {
        width: 85%;
    }

    .qual-icons img {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 1220px) {
    section {
        padding: 5vh 5%;
    }
    #services, 
    #about-me,
    #contact-info {
        text-align: center;
    }


    .behavioural-support p,
    .individual-coaching p,
    .behavioural-support li,
    .individual-coaching li {
        text-align: start;
    }

    .services h2 {
        margin: 0 auto;
    }

    .about-me div {
        margin: 0 auto;
    }

    .qual-icons {
        width: 150px;
        flex-wrap: nowrap;
    }

    .memberships {
        min-width: unset;
    }

    .contact-info {
        flex-direction: column;
    }

    .contact-info a {
        margin: 20px auto;
    }

    .contact-form {
        margin: 0 auto;
        width: 77%;
    }

}

@media only screen and (max-width: 1364px) {
    .banner-logo {
        min-width: 12.5rem;
    }

    .banner-profile-pic {
        min-width: 12.5rem;
    }

    #btn-container {
        bottom: 3vh;
        width: 100%;
        height: 150px
    }

    .qualifications {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;
    }
}

@media only screen and (orientation: landscape) and (max-height: 750px) {
    .banner-logo {
        display: none;
    }

    .banner-profile-pic {
        display: none;
    }
}

@media only screen and (orientation: landscape) and (max-height: 650px) {
    .menu {
        display: block;
    }

    label {
        display: block;
    }

    #btn-container {
        display: none;
    }
}